In [4]:
!git clone https://github.com/PhonePe/pulse.git

fatal: destination path 'pulse' already exists and is not an empty directory.

In [5]:


#Once created the clone of GIT-HUB repository then,
#Required libraries for the program
#aggregated transaction
import pandas as pd
import json
import os

#This is to direct the path to get the data as states

path="C:\\phonepe\\pulse\\data\\aggregated\\transaction\\country\\india\\state\\"
Agg_state_list=os.listdir(path)
Agg_state_list
#Agg_state_list--> to get the list of states in India

#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

#This is to extract the data's to create a dataframe

clm={'State':[], 'Year':[],'Quater':[],'Transacion_type':[], 'Transacion_count':[], 'Transacion_amount':[]}
for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)    
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)        
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['transactionData']:
              Name=z['name']
              count=z['paymentInstruments'][0]['count']
              amount=z['paymentInstruments'][0]['amount']
              clm['Transacion_type'].append(Name)
              clm['Transacion_count'].append(count)
              clm['Transacion_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe

df_aggregated_transaction=pd.DataFrame(clm)
print(df_aggregated_transaction)

                          State  Year  Quater           Transacion_type  \
0     andaman-&-nicobar-islands  2018       1  Recharge & bill payments
1     andaman-&-nicobar-islands  2018       1     Peer-to-peer payments
2     andaman-&-nicobar-islands  2018       1         Merchant payments
3     andaman-&-nicobar-islands  2018       1        Financial Services
4     andaman-&-nicobar-islands  2018       1                    Others
...                         ...   ...     ...                       ...
3589                west-bengal  2022       4     Peer-to-peer payments
3590                west-bengal  2022       4         Merchant payments
3591                west-bengal  2022       4  Recharge & bill payments
3592                west-bengal  2022       4        Financial Services
3593                west-bengal  2022       4                    Others

      Transacion_count  Transacion_amount
0                 4200       1.845307e+06
1                 1871       1.213866e+07
2                  298       4.525072e+05
3                   33       1.060142e+04
4                  256       1.846899e+05
...                ...                ...
3589         184380244       6.202222e+11
3590         171667404       1.408077e+11
3591          48921147       2.602663e+10
3592            268388       2.611229e+08
3593            610414       4.579379e+08

[3594 rows x 6 columns]

In [8]:
#import sqlite3
#import pandas as pd
#insert dataframe to sql-lite database
#connection = sqlite3.connect("phonepe.db")
#cursor = connection.cursor()
#agg_Trans = pd.DataFrame(clm)
#agg_Trans.to_sql('aggregated_transaction', connection, if_exists='replace')

3594

In [9]:
#dat = sqlite3.connect('phonepe.db')
#query = dat.execute("SELECT SUM(Transacion_count) FROM aggregated_transaction WHERE Transacion_type = 'Others' and year=2018 and Quater=1")
#query = dat.execute("SELECT Year,SUM(Transacion_amount) AS Total_amount FROM aggregated_Transaction GROUP BY Year",)
#query = dat.execute("SELECT SUM(Transacion_amount) AS total_amount FROM aggregated_transaction WHERE Quater = 1 AND Year = 2018")

#cols = [column[0] for column in query.description]
#results= pd.DataFrame.from_records(data = query.fetchall(), columns = cols)
#print(results)

   Year  Total_amount
0  2018  1.623045e+12
1  2019  6.276688e+12
2  2020  1.464116e+13
3  2021  3.459870e+13
4  2022  6.426633e+13

In [6]:

#from sqlalchemy.engine.create import engine_from_config
#from sqlalchemy import create_engine
#engine = create_engine('sqlite://', echo=False)


import pandas as pd
import json
import os
#map transaction

path="C:\\phonepe\\pulse\\data\\map\\transaction\\hover\\country\\india\\state\\"
Agg_state_list=os.listdir(path)
Agg_state_list
#Agg_state_list--> to get the list of states in India

#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

#This is to extract the data's to create a dataframe

col2={'State':[], 'Year':[],'Quater':[],'district':[], 'Transaction_count':[], 'Transaction_amount':[]}
for i in Agg_state_list:
    p_i=path+i+"/"
    
    Agg_yr=os.listdir(p_i)   
    
    for j in Agg_yr:
        p_j=p_i+j+"/"
        
        Agg_yr_list=os.listdir(p_j)        
        for k in Agg_yr_list:
            p_k=p_j+k
            
            Data=open(p_k,'r')
            D=json.load(Data)
            
            
            for z in D['data']['hoverDataList']:
                 District = z['name']
                 count = z['metric'][0]['count']
                 amount = z['metric'][0]['amount']
                 col2['district'].append(District)
                 col2['Transaction_count'].append(count)
                 col2['Transaction_amount'].append(amount)
                 col2['State'].append(i)
                 col2['Year'].append(j)
                 col2['Quater'].append(int(k.strip('.json')))

df_map_transaction=pd.DataFrame(col2)
print(df_map_transaction)

                           State  Year  Quater  \
0      andaman-&-nicobar-islands  2018       1
1      andaman-&-nicobar-islands  2018       1
2      andaman-&-nicobar-islands  2018       1
3      andaman-&-nicobar-islands  2018       2
4      andaman-&-nicobar-islands  2018       2
...                          ...   ...     ...
14631                west-bengal  2022       4
14632                west-bengal  2022       4
14633                west-bengal  2022       4
14634                west-bengal  2022       4
14635                west-bengal  2022       4

                                district  Transaction_count  \
0      north and middle andaman district                442
1                 south andaman district               5688
2                      nicobars district                528
3      north and middle andaman district                825
4                 south andaman district               9395
...                                  ...                ...
14631                     nadia district           12690126
14632                   birbhum district            7617444
14633           purba medinipur district           14484229
14634                    maldah district           12492746
14635                 darjiling district            8827502

       Transaction_amount
0            9.316631e+05
1            1.256025e+07
2            1.139849e+06
3            1.317863e+06
4            2.394824e+07
...                   ...
14631        2.804568e+10
14632        1.614650e+10
14633        3.309949e+10
14634        2.721861e+10
14635        1.801650e+10

[14636 rows x 6 columns]

In [7]:
import sqlite3
import pandas as pd
#insert dataframe to sql-lite database
connection = sqlite3.connect("phonepe.db")
cursor = connection.cursor()
agg_Trans = pd.DataFrame(col2)
agg_Trans.to_sql('map_transaction', connection, if_exists='replace')

14636

In [9]:
dat = sqlite3.connect('phonepe.db')
query = dat.execute('SELECT DISTINCT State,district FROM map_transaction GROUP BY State')
cols = [column[0] for column in query.description]
results= pd.DataFrame.from_records(data = query.fetchall(), columns = cols)
print(results)

                                 State                             district
0            andaman-&-nicobar-islands    north and middle andaman district
1                       andhra-pradesh               east godavari district
2                    arunachal-pradesh         lower dibang valley district
3                                assam                    tinsukia district
4                                bihar                   madhepura district
5                           chandigarh                  chandigarh district
6                         chhattisgarh                    dhamtari district
7   dadra-&-nagar-haveli-&-daman-&-diu                         diu district
8                                delhi                       south district
9                                  goa                   north goa district
10                             gujarat                       anand district
11                             haryana                 yamunanagar district
12                    himachal-pradesh                       solan district
13                     jammu-&-kashmir                muzaffarabad district
14                           jharkhand                     ramgarh district
15                           karnataka                      mysuru district
16                              kerala          thiruvananthapuram district
17                              ladakh                      kargil district
18                         lakshadweep                 lakshadweep district
19                      madhya-pradesh                      morena district
20                         maharashtra                     jalgaon district
21                             manipur                   kangpokpi district
22                           meghalaya            north garo hills district
23                             mizoram                    serchhip district
24                            nagaland                         mon district
25                              odisha                    rayagada district
26                          puducherry                    karaikal district
27                              punjab   shahid bhagat singh nagar district
28                           rajasthan                        pali district
29                              sikkim                       south district
30                          tamil-nadu             tiruchirappalli district
31                           telangana                  narayanpet district
32                             tripura                     unakoti district
33                       uttar-pradesh                      amethi district
34                         uttarakhand                   bageshwar district
35                         west-bengal  south twenty four parganas district

In [24]:
import pandas as pd
import json
import os


path="C:\\phonepe\\pulse\\data\\top\\transaction\\country\\india\\state\\"
Agg_state_list=os.listdir(path)
Agg_state_list
#top transaction
#Agg_state_list--> to get the list of states in India

#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

#This is to extract the data's to create a dataframe

clm3={'State':[], 'Year':[],'Quater':[],'Transaction_districts':[], 'Transaction_count':[], 'Transaction_amount':[]}
for i in Agg_state_list:
    p_i=path+i+"/"
    
    Agg_yr=os.listdir(p_i)   
    
    for j in Agg_yr:
        p_j=p_i+j+"/"
        
        Agg_yr_list=os.listdir(p_j)        
        for k in Agg_yr_list:
            p_k=p_j+k
            
            Data=open(p_k,'r')
            D=json.load(Data)
            
            data = D.get('data')
            districts = data.get('districts')
            pincodes = data.get('pincodes')

            for z in D['data']['districts'] or D['data']['pincodes']:
                Name = z['entityName']
                count = z['metric']['count']
                amount = z['metric']['amount']
                clm3['Transaction_districts'].append(Name)
                clm3['Transaction_count'].append(count)
                clm3['Transaction_amount'].append(amount)
                clm3['State'].append(i)
                clm3['Year'].append(j)
                clm3['Quater'].append(int(k.strip('.json')))
#pd.DataFrame(clm)
#print(clm)
df_top_transaction=pd.DataFrame(clm3)
print(df_top_transaction)

                          State  Year  Quater       Transaction_districts  \
0     andaman-&-nicobar-islands  2018       1               south andaman
1     andaman-&-nicobar-islands  2018       1                    nicobars
2     andaman-&-nicobar-islands  2018       1    north and middle andaman
3     andaman-&-nicobar-islands  2018       2               south andaman
4     andaman-&-nicobar-islands  2018       2                    nicobars
...                         ...   ...     ...                         ...
5915                west-bengal  2022       4  south twenty four parganas
5916                west-bengal  2022       4             purba medinipur
5917                west-bengal  2022       4                     hooghly
5918                west-bengal  2022       4                      howrah
5919                west-bengal  2022       4           paschim medinipur

      Transaction_count  Transaction_amount
0                  5688        1.256025e+07
1                   528        1.139849e+06
2                   442        9.316631e+05
3                  9395        2.394824e+07
4                  1120        3.072437e+06
...                 ...                 ...
5915           15651650        3.373698e+10
5916           14484229        3.309949e+10
5917           13931352        2.755409e+10
5918           13350090        2.793786e+10
5919           12768161        2.521681e+10

[5920 rows x 6 columns]

In [15]:

#connection = sqlite3.connect("phonepe.db")
#cursor = connection.cursor()
#agg_Trans = pd.DataFrame(clm)
#agg_Trans.to_sql('top_transaction', connection, if_exists='replace')

5920

In [16]:
#dat = sqlite3.connect('phonepe.db')
#query = dat.execute("SELECT * From top_transaction")
#query = dat.execute("SELECT * FROM top_transaction ORDER BY transaction_amount DESC LIMIT 5")
#cols = [column[0] for column in query.description]
#results= pd.DataFrame.from_records(data = query.fetchall(), columns = cols)
#print(results)

   index      State  Year  Quater Transaction_districts  Transaction_count  \
0   5150  telangana  2022       4             hyderabad         1133829812
1   5140  telangana  2022       3             hyderabad         1018658174
2   2570  karnataka  2022       4       bengaluru urban          876647100
3   2550  karnataka  2022       2       bengaluru urban          786978117
4   2560  karnataka  2022       3       bengaluru urban          738035161

   Transaction_amount
0        1.753799e+12
1        1.586047e+12
2        1.092079e+12
3        1.013934e+12
4        9.308865e+11

In [25]:


import pandas as pd
import json
import os
#aggregated user

path="C:\\phonepe\\pulse\\data\\aggregated\\user\\country\\india\\state\\"
Agg_state_list=os.listdir(path)
Agg_state_list
#Agg_state_list--> to get the list of states in India

#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

#This is to extract the data's to create a dataframe

clm4={'State':[], 'Year':[],'Quater':[],'registered_users':[],'app_opens':[], 'phone_brand':[], 'phone_brand_count':[] ,'phone_percentage':[]}
for i in Agg_state_list:
    p_i=path+i+"/"
    
    Agg_yr=os.listdir(p_i)   
    
    for j in Agg_yr:
        p_j=p_i+j+"/"
        
        Agg_yr_list=os.listdir(p_j)        
        for k in Agg_yr_list:
            p_k=p_j+k
            
            Data=open(p_k,'r')
            D=json.load(Data)
            registeredUsers = D['data']['aggregated']['registeredUsers']
            appOpens = D['data']['aggregated']['appOpens']
            
            data = D.get('data',[])
            usersByDevice = data.get('usersByDevice',[])

            for z in usersByDevice or []:
             
              Brand = z['brand']
              count = z['count']
              percentage = z['percentage']
              clm4['registered_users'].append(registeredUsers)
              clm4['app_opens'].append(appOpens)
              clm4['phone_brand'].append(Brand)
              clm4['phone_brand_count'].append(count)
              clm4['phone_percentage'].append(percentage)
              clm4['State'].append(i)
              clm4['Year'].append(j)
              clm4['Quater'].append(int(k.strip('.json')))
#pd.DataFrame(clm)

df_aggregated_user=pd.DataFrame(clm4)
print(df_aggregated_user)

                          State  Year  Quater  registered_users  app_opens  \
0     andaman-&-nicobar-islands  2018       1              6740          0
1     andaman-&-nicobar-islands  2018       1              6740          0
2     andaman-&-nicobar-islands  2018       1              6740          0
3     andaman-&-nicobar-islands  2018       1              6740          0
4     andaman-&-nicobar-islands  2018       1              6740          0
...                         ...   ...     ...               ...        ...
6727                west-bengal  2022       1          21919787  236131065
6728                west-bengal  2022       1          21919787  236131065
6729                west-bengal  2022       1          21919787  236131065
6730                west-bengal  2022       1          21919787  236131065
6731                west-bengal  2022       1          21919787  236131065

     phone_brand  phone_brand_count  phone_percentage
0         Xiaomi               1665          0.247033
1        Samsung               1445          0.214392
2           Vivo                982          0.145697
3           Oppo                501          0.074332
4        OnePlus                332          0.049258
...          ...                ...               ...
6727      Lenovo             330017          0.015056
6728     Infinix             284678          0.012987
6729        Asus             280347          0.012790
6730       Apple             277752          0.012671
6731      Others            2196334          0.100199

[6732 rows x 8 columns]

In [19]:
#dat = sqlite3.connect('phonepe.db')
#cursor = connection.cursor()
#agg_Trans = pd.DataFrame(clm)
#agg_Trans.to_sql('aggregated_user', connection, if_exists='replace')

6732

In [20]:
#dat = sqlite3.connect('phonepe.db')
#query = dat.execute("SELECT * FROM aggregated_user WHERE Quater = 2 and year = 2022")
#cols = [column[0] for column in query.description]
#results= pd.DataFrame.from_records(data = query.fetchall(), columns = cols)
#print(results)

Empty DataFrame
Columns: [index, State, Year, Quater, registered_users, app_opens, phone_brand, phone_brand_count, phone_percentage]
Index: []

In [27]:


import pandas as pd
import json
import os
#map user

path="C:\\phonepe\\pulse\\data\\map\\user\\hover\\country\\india\\state\\"
Agg_state_list=os.listdir(path)
Agg_state_list
#Agg_state_list--> to get the list of states in India

#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

#This is to extract the data's to create a dataframe

clm5={'State':[], 'Year':[],'Quater':[],'district':[], 'map_registered_users':[], 'app_opens':[]}
for i in Agg_state_list:
    p_i=path+i+"/"
    
    Agg_yr=os.listdir(p_i)   
    
    for j in Agg_yr:
        p_j=p_i+j+"/"
        
        Agg_yr_list=os.listdir(p_j)        
        for k in Agg_yr_list:
            p_k=p_j+k
            
            Data=open(p_k,'r')
            D=json.load(Data)
            # registeredUsers = D['data']['hoverData']['registeredUsers']
            # appOpens = D['data']['hoverData']['appOpens']
            
            data = D.get('data')
            hoverData = data.get('hoverData')
            for district, value in hoverData.items():
              registeredUsers = value.get('registeredUsers')
              appOpens = value.get('appOpens')
              clm5['district'].append(district)
              clm5['map_registered_users'].append(registeredUsers)
              clm5['app_opens'].append(appOpens)
              clm5['State'].append(i)
              clm5['Year'].append(j)
              clm5['Quater'].append(int(k.strip('.json')))
#pd.DataFrame(clm)

df_map_user=pd.DataFrame(clm5)
print(df_map_user)

                           State  Year  Quater  \
0      andaman-&-nicobar-islands  2018       1
1      andaman-&-nicobar-islands  2018       1
2      andaman-&-nicobar-islands  2018       1
3      andaman-&-nicobar-islands  2018       2
4      andaman-&-nicobar-islands  2018       2
...                          ...   ...     ...
14635                west-bengal  2022       4
14636                west-bengal  2022       4
14637                west-bengal  2022       4
14638                west-bengal  2022       4
14639                west-bengal  2022       4

                                district  map_registered_users  app_opens
0      north and middle andaman district                   632          0
1                 south andaman district                  5846          0
2                      nicobars district                   262          0
3      north and middle andaman district                   911          0
4                 south andaman district                  8143          0
...                                  ...                   ...        ...
14635                     nadia district               1359420   33853990
14636                   birbhum district                855236   20950662
14637           purba medinipur district               1346908   38278506
14638                    maldah district                954892   29023743
14639                 darjiling district                564562   15982631

[14640 rows x 6 columns]

In [23]:
#dat = sqlite3.connect('phonepe.db')
#cursor = connection.cursor()
#agg_Trans = pd.DataFrame(clm)
#agg_Trans.to_sql('map_user', connection, if_exists='replace')

14640

In [24]:
#dat = sqlite3.connect('phonepe.db')
#query = dat.execute("SELECT * From map_user")
#cols = [column[0] for column in query.description]
#results= pd.DataFrame.from_records(data = query.fetchall(), columns = cols)
#print(results)

       index                      State  Year  Quater  \
0          0  andaman-&-nicobar-islands  2018       1
1          1  andaman-&-nicobar-islands  2018       1
2          2  andaman-&-nicobar-islands  2018       1
3          3  andaman-&-nicobar-islands  2018       2
4          4  andaman-&-nicobar-islands  2018       2
...      ...                        ...   ...     ...
14635  14635                west-bengal  2022       4
14636  14636                west-bengal  2022       4
14637  14637                west-bengal  2022       4
14638  14638                west-bengal  2022       4
14639  14639                west-bengal  2022       4

                                district  map_registered_users  app_opens
0      north and middle andaman district                   632          0
1                 south andaman district                  5846          0
2                      nicobars district                   262          0
3      north and middle andaman district                   911          0
4                 south andaman district                  8143          0
...                                  ...                   ...        ...
14635                     nadia district               1359420   33853990
14636                   birbhum district                855236   20950662
14637           purba medinipur district               1346908   38278506
14638                    maldah district                954892   29023743
14639                 darjiling district                564562   15982631

[14640 rows x 7 columns]

In [28]:



import pandas as pd
import json
import os
#top user

path="C:\\phonepe\\pulse\\data\\top\\user\\country\\india\\state\\"
Agg_state_list=os.listdir(path)
Agg_state_list
#Agg_state_list--> to get the list of states in India

#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

#This is to extract the data's to create a dataframe

clm6={'State':[], 'Year':[],'Quater':[], 'district_name':[], 'registered_users':[]} 
for i in Agg_state_list:
    p_i=path+i+"/"
    
    Agg_yr=os.listdir(p_i)   
    
    for j in Agg_yr:
        p_j=p_i+j+"/"
        
        Agg_yr_list=os.listdir(p_j)        
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            districts = data.get('districts')
            pincodes = data.get('pincodes')
            for z in D['data']['districts'] or D['data']['pincodes']:
              districtsName = z['name']
              registeredUsers = z['registeredUsers']
              clm6['registered_users'].append(registeredUsers)
              clm6['district_name'].append(districtsName)
              clm6['State'].append(i)
              clm6['Year'].append(j)
              clm6['Quater'].append(int(k.strip('.json')))
#pd.DataFrame(clm)

df_top_user=pd.DataFrame(clm6)
print(df_top_user)

                          State  Year  Quater             district_name  \
0     andaman-&-nicobar-islands  2018       1             south andaman
1     andaman-&-nicobar-islands  2018       1  north and middle andaman
2     andaman-&-nicobar-islands  2018       1                  nicobars
3     andaman-&-nicobar-islands  2018       2             south andaman
4     andaman-&-nicobar-islands  2018       2  north and middle andaman
...                         ...   ...     ...                       ...
5915                west-bengal  2022       4                    howrah
5916                west-bengal  2022       4                     nadia
5917                west-bengal  2022       4           purba medinipur
5918                west-bengal  2022       4         paschim medinipur
5919                west-bengal  2022       4           purba bardhaman

      registered_users
0                 5846
1                  632
2                  262
3                 8143
4                  911
...                ...
5915           1422011
5916           1359420
5917           1346908
5918           1217113
5919           1119310

[5920 rows x 5 columns]

In [26]:
#dat = sqlite3.connect('phonepe.db')
#cursor = connection.cursor()
#agg_Trans = pd.DataFrame(clm)
#agg_Trans.to_sql('top_user', connection, if_exists='replace')

5920

In [27]:
#dat = sqlite3.connect('phonepe.db')
#query = dat.execute("SELECT * From top_user")
#cols = [column[0] for column in query.description]
#results= pd.DataFrame.from_records(data = query.fetchall(), columns = cols)
#print(results)

      index                      State  Year  Quater  \
0         0  andaman-&-nicobar-islands  2018       1
1         1  andaman-&-nicobar-islands  2018       1
2         2  andaman-&-nicobar-islands  2018       1
3         3  andaman-&-nicobar-islands  2018       2
4         4  andaman-&-nicobar-islands  2018       2
...     ...                        ...   ...     ...
5915   5915                west-bengal  2022       4
5916   5916                west-bengal  2022       4
5917   5917                west-bengal  2022       4
5918   5918                west-bengal  2022       4
5919   5919                west-bengal  2022       4

                 district_name  registered_users
0                south andaman              5846
1     north and middle andaman               632
2                     nicobars               262
3                south andaman              8143
4     north and middle andaman               911
...                        ...               ...
5915                    howrah           1422011
5916                     nadia           1359420
5917           purba medinipur           1346908
5918         paschim medinipur           1217113
5919           purba bardhaman           1119310

[5920 rows x 6 columns]

In [29]:
import sqlite3
# Inserting each Data frame into sql server
connection = sqlite3.connect("phonepe.db")
cursor = connection.cursor()
df_aggregated_transaction.to_sql('aggregated_transaction', connection, if_exists='replace')
df_aggregated_user.to_sql('aggregated_user', connection, if_exists='replace')
df_map_transaction.to_sql('map_transaction', connection, if_exists='replace')
df_map_user.to_sql('map_user', connection, if_exists='replace')
df_top_transaction.to_sql('top_transaction', connection, if_exists='replace')
df_top_user.to_sql('top_user', connection, if_exists='replace')

5920

SELECT DISTINCT State,district FROM map_transaction GroupBy district